<% if @users.errors.any? %>
  <h2>You got an error </h2>
  <ul>
    <% @users.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>

    <% end %>
  </ul>
  <% end %>

<%= form_with(model: @users,local: true, data: { turbo: false } ) do |f| %>

<p> 
  <%= f.label :name, "Item Name" %><br/>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>