<% if @item.errors.any? %>
  <h2>You got an error </h2>
  <ul>
    <% @item.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>

    <% end %>
  </ul>
  <% end %>


<%= form_with(model: @item,local: true, data: { turbo: false } ) do |f| %>

<p> 
  <%= f.label :name, "Item Name" %><br/>
  <%= f.text_field :name %>
</p>

<p> 
  <%= f.label :description, "Description" %><br/>
  <%= f.text_field :description %>
</p>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#"> <%= @User.first %></a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<p>
  <%= f.submit %>
</p>

<% end %>